.enrollment_team_wrapper {
  background-color: white;
  min-height: 100vh;
}

.enrollment_team_content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  height: calc(100vh - 90px);
}

.enrollment_team_content .enrollment_team_table_container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 75%;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 8px solid #1e1e1e;
  border-radius: 10px;
}

.enrollment_team_table_container .table {
  border-collapse: separate;
  border-radius: 12px;
}


/* Table */

.table_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: separate;
  table-layout: fixed; /* Ensures consistent cell width */
}

.table tbody tr td {
  height: 60px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center; /* Centers text horizontally */
  vertical-align: middle; /* Centers content vertically */
  color: var(--title-color-dark);
}

.table tbody tr td:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.table thead tr th {
  position: sticky;    /* Make header sticky */
  top: 0;              /* Stick the header at the top of the container */
  z-index: 1;  
}


.table thead tr th {
  color: white;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 0;
  padding: 5px 0;

}


.thTd {
  background-color: #1e1e1e;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Buttons in the table */
.button {
  background-color: #ffb100;
  color: black;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.button:last-child {
  background-color: rgb(201, 48, 44);
}



/* Modal styles */
.enrollment_team_add_team_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures modal is on top */
}

.modal_content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.close {
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.modal_body {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.modal_body h3 {
  margin-bottom: 5px;
  color: var(--title-color-dark);
}

.modal_body label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.modal_body input,
.modal_body select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal_role {
  width: 30%;
}

.modal_user_info {
  width:65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal_credentials {
  display: flex;
  gap: 0 10px;
}

.modal_credentials_personal {
  width: 50%;
}

.modal_credentails_account {
  width: 50%;
}

.modal_add_user_button_container {
 display: flex;
 height: 71px;
 justify-content: center;
}

.modal_add_user_button_container .modal_add_user_button {
  margin-top: auto;
  height: 35px;
  color: white;
  width: 120px;
  background-color: var(--title-color);
  border-radius: 8px;
  border: none;
}

.modal_add_user_button_container .modal_add_user_button:hover  {
  color: white;
  background-color: var(--title-color-dark);
}



/* Button styling */
.button {
  background-color: #ffb100;
  color: black;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:last-child {
  background-color: rgb(201, 48, 44);
}

.add_user_button {
  color: var(--title-color-dark);
  border: none;
  font-size: 30px;
  background-color: white;
}

.add_user_button:hover {
  color: var(--title-color-dark);
  background-color: white;
}
