.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 100dvh;
  width: 100%;
}

.header {
  background-color: #007bff;
  width: 100%;
}

.content_holder {
  padding: 0 50px;
  width: 100%;
  flex: 1;
}


.label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

/* Table styles */
.tableContainer {
  height: 400px;
  max-height:400px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 8px solid #1e1e1e;
  border-radius: 10px;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchContainer .input {
  width: 300px;
  border-radius: 8px;
  height: 35px;
  margin: 15px 0;
  border: solid 2px #1e1e1e;
}


.table {
  width: 100%;
  border-collapse: separate;
}

.table tbody tr td:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.table thead tr th {
  position: sticky;    /* Make header sticky */
  top: 0;              /* Stick the header at the top of the container */
  z-index: 1;  
}


.table thead tr th {
  color: white;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 0;
  padding: 5px 0;

}


.table tbody tr td {
  text-align: center;
  color: var(--title-color-dark);
}

.thTd {
  background-color: #1e1e1e;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


.td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.td:last-child {
  text-align: center;
}

/* Buttons in the table */
.button {
}

.button:hover {
  background-color: #ffb100;
}

.button:nth-child(3) {
  background-color: rgb(0, 154, 0);
}

.button:nth-child(4) { 
  background-color: rgb(201, 48, 44);
}

/* Filter bar */
.filterBar {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.sort {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.export_button {
  height: 35px;
  width: 200px;
  background-color: var(--title-color);
  color: white;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  border: 2px solid var(--title-color);
}

.export_button:hover {
  background-color: var(--title-color-dark);
  color: white;
  border: 2px solid var(--title-color-dark);
}


.filterBar .select {
  height: 35px;
  padding: 5px;
  border-radius: 8px;
  width: 250px;
  margin: 0 5px;
  border: 2px solid #1e1e1e;
}


/* Modal overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100;  /* Above header */
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.closeButton {
  background-color: #d9534f;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #c9302c;
}

.textarea {
  resize: vertical;
  width: 360px;
  height: 100px;
  padding: 8px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonGroup button {
  height: 35px;
  width: 120px;
  margin: 0;
  color: white;
  background-color: #1e1e1e;
}

.buttonGroup button:hover {
  background-color: #1e1e1e;
  color: white;
}

.print_button {
  background-color: #ffb100;
  color: black;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.print_button:hover {
  background-color: #ffb100;
  color: black;
}

